:root {
  --app-bg: #f5f5f5;
  --msg-box-bg: #fff;
  --app-fg: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-bg: #222;
    --msg-box-bg: #333;
    --app-fg: #eee;
  }
}

* {
  box-sizing: border-box;
}

.app-root {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  color: var(--app-fg, #222);

  background-color: var(--app-bg);
}

.upload-btn {
  padding: 10px 20px;
  font-size: 1.1rem;
}

.msg-box {
  overflow-y: auto;

  width: 60vw;
  max-width: 600px;
  max-height: 40vh;
  margin-top: 2rem;
  padding: 2rem;

  font-family: monospace;
  font-size: 0.85rem;
  text-align: left;
  white-space: pre-wrap;

  background-color: var(--msg-box-bg);
  box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
}
